@import url('https://fonts.googleapis.com/css?family=Muli');

.b1{
  margin: auto;
  display: table;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(bg.jpg);
  width: 100%;
  height: 100vh;
  max-height: 915px;
}
.b1 .in1{
  vertical-align: middle;
  width: 100%;
  height: 100%;
}


.stuff{
  padding-top: 40px;
  max-width: 800px;
  height: 600px;
  margin: auto;
  text-align: center;
}

img {
  position: center;
  width: 100%;
  max-width: 600px;
  height: auto;
}

.ButtonClass{
    position: center;
    padding-bottom: 0px;
    padding-top: 30px;
    -webkit-animation-delay: 2s;
}

.stuff h4{
    font-size: large;
    position: center;
    font-family: 'Muli', sans-serif;
    font-weight:normal;
    color: white;
}


.stuff h3{
    font-size: large;
    position: center;
    font-family: 'Muli', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding-bottom: 0px;
    padding-top: 15px;
}

.select{
  position: center;
  font-family: 'Muli', sans-serif;
  color: black;
  /* text-shadow: 1px 1px 1px rgb(58, 58, 58); */
  padding-bottom: 10px;
  padding-top: 0px;
}

.resourceButton1 {
  -webkit-animation-delay: 0.5s; 
}

.resourceButton2 {
  -webkit-animation-delay: 1s; 
}

.resourceButton3 {
  -webkit-animation-delay: 1.5s; 
}

span {
  display:inline-block;
}

/* .stuff .btn{
  border-radius: 0px;
  color: #f9f3f4;
  text-decoration: none;
  text-shadow: 1px 1px 1px rgb(58, 58, 58);
  font-family: 'Century Gothic',sans-serif;
  border: 2px solid;
  padding: 7px 13px;
  font-weight: normal;
  font-size: medium;
  margin: 10px;
}
.stuff .btn:hover{
    color: #ffffff !important;
    background: #f6b93b;
    border-color: #f6b93b !important;
    transition: all 0.4s ease 0s;
} */

.helpbutton{
    position: absolute;
    top:0;
    right:0;
}
