@import url('https://fonts.googleapis.com/css?family=Muli');

.b1{
  position: relative;
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover !important;
	-webkit-background-size: cover !important;
  background-image: url(bg.jpg);
  width: 100%;
  height: 100vh;
  min-height: 650px;
  text-align: center;
}

.helpbutton{
  line-height: 12px;
  font-size: 8pt;
  font-family: tahoma;
  margin-top: 5px;
  margin-right: 2%;
  position:absolute;
  top:0;
  right:0;
}

.stuff{
  display: inline-block;
  height: 100%;
  padding-top: 40px;
  max-width: 800px;
  width: 95%;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  vertical-align: middle;
}

.titleImage {
  margin-top: calc(5px + 2vh + 2vw);
  width: 90%;
}

.stuff h4{
    font-size: large;
    position: center;
    font-family: 'Muli', sans-serif;
    font-weight:normal;
    color: white;
}


.stuff h3{
    font-size: large;
    position: center;
    font-family: 'Muli', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding-bottom: 0px;
    padding-top: 15px;
}

.guide{
  position: center;
  padding-bottom: calc(2px + 1vh + 1vw);
  padding-top: calc(2px + 2vh + 2vw);
  font-family: 'Muli', sans-serif;
  font-weight: bold;
  color: white;
  font-size: calc(10px + 1.5vw);
}

.select{
  padding-bottom: calc(2px + 2vh + 2vw);
  padding-top: calc(2px + 1vh + 1vw);
  font-size: calc(11px + 1vw);

  position: center;
  font-family: 'Muli', sans-serif;
  font-weight: normal;
  color: white;
}

.ButtonClass{
  position: center;
  margin-top: 30px;
  -webkit-animation-delay: 2.5s;
}

.buttonsAll {
  display: flex; 
  justify-content: space-between;
}

.resourceButton1 {
  -webkit-animation-delay: 1s; 
}

.resourceButton2 {
  -webkit-animation-delay: 1.5s; 
}

.resourceButton3 {
  -webkit-animation-delay: 2s; 
}

/* screenwidth less than 1024px
--------------------------------------------------------------------- */
@media only screen and (max-width: 1024px) {
}

/* screenwidth less than 900px
--------------------------------------------------------------------- */
@media only screen and (max-width: 900px) {
}

/* mobile wide/smaller tablets
---------------------------------------------------------------------- */

@media only screen and (max-width: 767px) {
}

/* mobile narrow
-------------------------------------------------------------------------- */

@media only screen and (max-width: 600px) {
  .buttonsAll {
    display: block; 
  }

  .resourceButton1 {
    display:block;
    margin-bottom: 1em;
  }
  
  .resourceButton2 {
    display:block;
    margin-bottom: 1em;
  }
  
  .resourceButton3 {
    display:block;
  }
}