.App-logo {
  animation: spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: green;
  padding: 20px;
  width: 100%;
  margin-bottom: 10px;
  color: white;
  text-align: center;
}

.App-intro {
  font-size: large;
}

.disclaimerContainer {
  font-size: 16px;
}
.disclaimer {
  float: right;
  outline: none;
  border: none;
  padding: 5px 8px;
  border-radius: 3px;
  margin: 0 20px 25px;
  background-color: rgb(20, 172, 55);
  color: white;
}
.disclaimer:hover {
  cursor: pointer;
  background-color: rgba(20, 172, 55, 0.8);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.ArrowButtons {
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.ArrowButtons2 {
  text-align: center;
  display: flex;
  justify-content: space-around;
}

/* new */
.parentDiv {
  display: flex;
}

.leftcol,
.rightcol {
  flex: 1;
}

/* Styles for demonstration */

/*new */
.rightArrow {
  text-align: right;
  cursor: pointer;
}
.ArrowButtons:hover {
  cursor: pointer;
}

/* temporary styling below for quiz options for better visibility*/
.answerOption {
  margin: 10px;
  list-style: none;
  font-size: 15px;
}
.answerOption > label {
  margin-left: 8px;
}
.answerOption:hover {
  color: orange;
  cursor: pointer;
}
.radioCustomButton:hover {
  cursor: pointer;
}
.radioCustomButton:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: white;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 4px solid #ff7837;
}
/* temporary styling above for quiz options for better visibility*/
